<ul>
  <% @restaurants.each do |restaurant| %>
    <li><%= link_to "#{restaurant.name}", restaurant_path(restaurant) %></li>
  <% end %>
</ul>

<h3><center><%= link_to "New", new_restaurant_path %></center></h3>
