<ul>
  <% if @restaurants.empty? %>
    No results match your search.
  <% else %>
    <% @restaurants.each do |restaurant| %>
      <li><%= link_to "#{restaurant.name}", restaurant_path(restaurant) %></li>
    <% end %>
  <% end %>
</ul>

<h3 class="text-center"><%= link_to "New", new_restaurant_path %></h3>

<%= paginate @restaurants %>
