/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require foundation_and_overrides
 *= require_tree .
 *= require_self
 */

.fullWidth {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

ul {
  list-style: none;
}

.centered {
  margin: auto;
}

/*.fixed {

}*/

#home-main-image .inner .home-text-search {
  width: 100%;
  margin-top: 0%;
  position: absolute;
  margin-top: 17.36% !important; }
#home-main-image .inner .home-text-search h1 {
  font-family: proxima_novasemibold !important;
  font-size: 73px;
  color: #fff;
  text-align: center;
  height: 73px;
  line-height: 73px !important;
  margin-bottom: 7px; }
#home-main-image .inner .home-text-search h2 {
  width: 100%;
  font-family: proxima_nova_rgregular !important;
  font-size: 18px;
  height: 18px;
  line-height: 18px !important;
  text-align: center;
  color: #fff; }
#home-main-image .inner .home-text-search .home-search {
  margin-top: 40px !important;
  position: absolute;
  width: 500px;
  height: 80px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  left: 50%;
  margin-left: -250px;
  }
