// #background {
//  background: url(/assets/Boston_Skyline_Night_BW.png) no-repeat fixed center;
//  background-size: contain;
//  background-repeat: no-repeat;
//  width: 100%;
//  height: 100%;
//  padding-top: 59.05%;
//}

$box-bg: #600000;
$box-border: #400000;
$font-color: #808080;

.index-boxes {
  background-color: $box-bg;
  border: 2px solid $box-border;
  color: $font-color;
  height: 155px;
  margin: 10px;
}

.admin-restaurants-index {
  align-self: center;
}
